Repository BenjaminSRussell/Wheel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,html,css,md,yml,yaml}": [
    "prettier --write"
  ],
  "src/**/*.test.js": [
    "jest --bail --findRelatedTests"
  ]
}

more halloween
  index.html
  package-lock.json
  src/components/Wheel.js
  src/config/appConfig.js
Due: eslint --fix, prettier --write

Add comprehensive phased development plan for spinning wheel
  DEVELOPMENT_PLAN.md
Due: prettier --write

Implement Phase 1 & 2 improvements: infrastructure and code quality
  README.md
  index.html
  package.json
  src/components/Wheel.js
  src/components/WheelConstants.js
  src/config/appConfig.js
  src/controllers/SpinController.js
  src/effects/ConfettiSystem.js
  src/main.js
  src/utils/easing.js
Due: eslint --fix, prettier --write

Add Phase 3 visual enhancements: camera effects, LED chase, hover, 3D depth
  src/components/Wheel.js
  src/config/appConfig.js
  src/main.js
Due: eslint --fix, prettier --write

Add Phase 4 features: audio, mobile, accessibility, history tracking
  index.html
  src/main.js
  src/utils/AudioManager.js
  src/utils/SpinHistory.js
Due: eslint --fix, prettier --write

Add comprehensive test results documentation
  TEST_RESULTS.md
Due: prettier --write

Fix camera alignment, add audience, clean up comments, update README
  README.md
  src/components/Audience.js
  src/components/Wheel.js
  src/config/appConfig.js
  src/main.js
Due: eslint --fix, prettier --write

Update TEST_RESULTS.md with latest commit and final status
  TEST_RESULTS.md
Due: prettier --write

Fix CSS position property override in spinButton
  index.html
Due: prettier --write

Respect prefers-reduced-motion for pulse animation and confetti
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Add accessible announcements for spin start/result and canvas label
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Add visible h1 title using existing CSS .title class
  index.html
Due: prettier --write

Fix spin button safe area inset on mobile devices
  index.html
Due: prettier --write

Add focus-visible ring and accessible disabled state for spin button
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Enable canvas click to spin wheel
  src/main.js
Due: eslint --fix, prettier --write

Add WebGL failure fallback UI with random segment selection
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Wrap wheel UI in main landmark for accessibility
  index.html
Due: prettier --write

Update renderer pixel ratio on resize to handle monitor/zoom changes
  src/main.js
Due: eslint --fix, prettier --write

Add winner announcement modal for wheel spin results
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Fix spin button position, a11y, canvas click, reduced-motion, WebGL fallback
  index.html
  src/components/Wheel.js
  src/main.js
Due: eslint --fix, prettier --write

CI: eslint test globals, prettier, drop broken lint-staged jest
  .lintstagedrc.json
  CONTRIBUTING.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/__tests__/crypto.test.js
  src/utils/__tests__/math.test.js
  start-server.js
  tests/anti-patterns.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Prettier: format remaining a11y/HTML/JS files for CI
  CONTRIBUTING.md
  README.md
  index.html
  src/components/Wheel.js
  src/config/appConfig.js
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/__tests__/crypto.test.js
  src/utils/__tests__/math.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Wheel UI: spin button, a11y, canvas click, reduced motion, WebGL fallback (#29)
  .lintstagedrc.json
  CONTRIBUTING.md
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/components/Wheel.js
  src/config/appConfig.js
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/__tests__/crypto.test.js
  src/utils/__tests__/math.test.js
  start-server.js
  tests/anti-patterns.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat: shareable spin result URL hash + copy link (#26)
  README.md
  index.html
  src/main.js
Due: eslint --fix, prettier --write

feat: shareable spin result URL hash + copy link (#26) (#31)
  README.md
  index.html
  src/main.js
Due: eslint --fix, prettier --write

Segment label contrast: auto black/white text, WCAG AA audit warnings; fix lint/format on main
  README.md
  index.html
  src/components/Wheel.js
  src/main.js
  src/utils/__tests__/contrast.test.js
  src/utils/contrast.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Segment label contrast: auto black/white text, WCAG AA audit warnings; fix lint/format on main (#32)
  README.md
  index.html
  src/components/Wheel.js
  src/main.js
  src/utils/__tests__/contrast.test.js
  src/utils/contrast.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat: persist editable segments + spin history in localStorage (#23)
  index.html
  package.json
  src/config/appConfig.js
  src/main.js
  src/utils/segmentStore.js
  tests/segmentStore.test.js
Due: eslint --fix, prettier --write

style: prettier format for CI
  index.html
  src/config/appConfig.js
  src/main.js
  src/utils/segmentStore.js
  tests/segmentStore.test.js
Due: eslint --fix, prettier --write

feat: persist segments + spin history (#23) (#30)
  index.html
  package.json
  src/config/appConfig.js
  src/main.js
  src/utils/segmentStore.js
  tests/segmentStore.test.js
Due: eslint --fix, prettier --write

feat: weighted segments, FX toggles, and reduced-motion-aware audio cue
  README.md
  index.html
  src/components/Wheel.js
  src/controllers/SpinController.js
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/fxSettings.js
  src/utils/segmentStore.js
  src/utils/weighted.js
  tests/fxSettings.test.js
  tests/segmentStore.test.js
  tests/weighted.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

chore: lint-staged uses config/.prettierrc.json so hook output matches CI format:check
  .lintstagedrc.json
  README.md
  index.html
  src/components/Wheel.js
  src/controllers/SpinController.js
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/fxSettings.js
  src/utils/segmentStore.js
  src/utils/weighted.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat: weighted segments + FX toggles + audio cue (#24 #27) (#33)
  .lintstagedrc.json
  README.md
  index.html
  src/components/Wheel.js
  src/controllers/SpinController.js
  src/controllers/__tests__/SpinController.test.js
  src/main.js
  src/utils/fxSettings.js
  src/utils/segmentStore.js
  src/utils/weighted.js
  tests/fxSettings.test.js
  tests/segmentStore.test.js
  tests/weighted.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat: incremental TypeScript via checkJs strict + CI typecheck; config is single source
  .github/workflows/code-quality.yml
  README.md
  package-lock.json
  package.json
  src/controllers/SpinController.js
  src/types/wheel.d.ts
  src/utils/contrast.js
  src/utils/crypto.js
  src/utils/fxSettings.js
  src/utils/math.js
  src/utils/segmentStore.js
  src/utils/weighted.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: incremental TypeScript via checkJs strict + CI typecheck; config is single source (#34)
  .github/workflows/code-quality.yml
  README.md
  package-lock.json
  package.json
  src/controllers/SpinController.js
  src/types/wheel.d.ts
  src/utils/contrast.js
  src/utils/crypto.js
  src/utils/fxSettings.js
  src/utils/math.js
  src/utils/segmentStore.js
  src/utils/weighted.js
  tsconfig.json
Due: eslint --fix, prettier --write
